@import '../../../style/media';

.Select {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.Select label {
    margin-bottom: 3px;
    padding:0;
    display: block;
    font-weight: bold;
    color: white;
    @include mq-to-xs {
        margin-left: 5px;
    }
}

.Select select {
    color: white;
    font-size: 1.2rem;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.1);
    outline: none;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, .25);
    transition: all .3s;
    @include mq-to-xs {
        margin: 0 5px 3px 5px;
        padding: 4px;
    }
}

.Select select option {
    background-color: #a43b58;
}