.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    padding-top: 25px;
    #background: #252e3a;
    background: linear-gradient(0deg, #3a4858 20%, #252e3a 60%);
    box-shadow: 0 0 2px 1px #252e3a;
    z-index: 90;
    transform: translateX(0px);
    transition: transform .22s ease-in;
}

.Drawer.close {
    transform: translateX(-300px);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Drawer ul li {
    text-align: center;
}

.Drawer ul li a {
    display: block;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background: #2b3644;
    padding: 10px 10px 10px 10px;
    transition: all .3s;
}

.Drawer ul li a:hover, .Drawer ul li a.active {
    background-color: #3c4b5c;
}