.FinishedQuiz {
    color: white;
    padding: 20px 30px 20px 30px;
    box-shadow: 1px 2px 4px 3px darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FinishedQuiz>ul {
    list-style: none;
    padding: 0px;
    margin: 10px auto;
}

.FinishedQuiz i {
    margin-left: 10px;
}

.success {
    color: #00ab00;
}

.error {
    color: red;
}