.Button {
    color: white;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    margin: 10px;
    background-color: #7262dd;
    transition-property: background-color, box-shadow;
    transition-duration: 0.3s, 0.15s;
    border: 0;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, .4);
}

.Button:hover {
    background-color: #8267f2;
    cursor: pointer;
}

.Button:active {
    background-color: #645dc9;
    box-shadow: 0 0 1px 1px rgba(0,0,0, .4);
}

.Button:focus {
    outline:none;
}

.error {
    background: #b03139;
}
.error:hover {
    background-color: #f25868;
    cursor: pointer;
}

.success {
    background: #12af54;
}
.success:hover {
    background-color: #37f295;
    cursor: pointer;
}

.primary {
    background: #1a7ebf;
}
.primary:hover {
    background-color: #56b4ff;
    cursor: pointer;
}

.Button:disabled,  .Button:disabled:hover{
    background-color: #636363;
    cursor: not-allowed;
}
