.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}