@import '../../style/media';

.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(25deg, #5041b2 30%, #e65097 130%);
}

.Auth h1 {
    color: white;
    margin: 10px 30px 20px 30px;
}

.Auth form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
    box-shadow: 1px 2px 4px 3px rgba(0,0,0, .35);
    background-color: rgba(0,0,0, .15);
    @include mq-to-xs {
        padding: 0;
        box-shadow: none;
        background-color: rgba(0,0,0,0);
    }

    div {
        @include mq-to-xs {
            display: flex;
            flex-direction: column;
        }
    }
}
