@import '../../../style/media';

.MenuToggle {
    position: fixed;
    top: 40px;
    left: 40px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    transition: opacity, left .22s ease-in;
    z-index: 100;
    @include mq-to-xs {
        top: 10px;
        left: 10px;
    }
}

.MenuToggle:hover {
    opacity: .5;
}

.MenuToggle.open {
    left: 320px;
}